/* styles.css */
form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
    margin-right: 5px;
}

body {
    background-color: skyblue;
}

input#location {
    width: 300px;
}